* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    background: #eff2f6;
}

.arriba {
    width:100%;
    height:64px;
    position: fixed;
    background: #ffffff; /*Aqui esta la cabezera principal*/
    box-shadow: 1px  1px 1px rgba(0,0,0,0.4)
}

.izquierda {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #262f3c; /*Aquites el header izquierdo*/
    z-index:900;
   
}
.izquierdanav{
    min-width:10%;
    position:relative;
}
.li-menu {
    /*    border:1px solid red;
*/ padding: 15px;
    text-align: center;
    list-style: none;
}
.li-menu:hover {
    background: #ccc;
    transition-duration: 0.5s;
    cursor:pointer;
}
.letra {
    color: #fff;
    text-decoration: none;
}
.icoon-size {
    font-size: 2.2em;
    color: #505a6a;
}
.submenu {
    position: absolute;
    width: 20vw;
    background: #2c3544;
    height: 100vh;
    left: 65px;
    top: 0px;
}
.return{
    width:100%;
    height:50px;
    background:red;
    top:0;
}
.return-ico{
    width:60px;
    height:93%;
    margin: 1% 0;
    background:green;
    float:right;
    position:relative;
    right:4px;
    text-align:center;
}
.icon-circle-up {
    position: relative;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}