
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    background: #EAEEF5;
    font-family: 'Lato', sans-serif;
}
.arriba-grid{
    width:100%;
    /* background:red; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    
}
/* .grid-box{
    background: purple; 
    border:1px solid #fff;
} */
.arriba {
    border-top: 5px solid #0566FF;
    width:96%;
    height:58px;
    position: fixed;
    background: #ffffff; /*Aqui esta la cabezera principal*/
    box-shadow: 1px  1px 1px rgba(0,0,0,0.4);
    transition-duration: 1.2s;
    right: 0;
}
.liunohovernueve,
.liunohoverocho,
.liunohoversiete,
.liunohoverseis,
.liunohovercinco,
.liunohovercuatro,
.liunohovertres,
.liunohoverdos,
.liunohover {
    width: auto;
    height: auto;
    padding: 5px;
    background: #0566FF;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    font-size: 0.8em !important;
    text-transform: uppercase;
    display: block;
    opacity: 1;
    transition-duration: 1s;
    left: 50px;
    top: 15px;
    /* border: 1px solid #555; */
    -webkit-box-shadow: -3px 1px 23px -4px rgba(0,0,0,0.98); 
    box-shadow: -3px 1px 23px -4px rgba(0,0,0,0.98);
    display: none;
}
.cerrarhover{
    animation: sa 1s linear;
}
@keyframes sa{
    50%{
        display: none;
    }
}

.izquierda {
    border-top: 5px solid #0566FF;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #1c2b45; /*Aquites el header izquierdo*/
    z-index: 99 !important;
   
   
}
.izquierdanav{
    min-width:10%;
    position:relative;
}
.ul{
    height: 100vh;
    width: 100%;
    background:#1c2b45;
}
.li-menu {
    /*    border:1px solid red;
*/ 
    text-align: center;
    list-style: none;
    position: relative;
}
.li-menu:hover {
    /* background: #ccc;
     */
     color:#fff;
    transition-duration: 0.5s;
    cursor:pointer;
}
.li-menu i{
    /* border:1px solid green; */
    display: block;
    padding:15px;
}
.li-menu i:hover{
    color:#fff;

}
.letra {
    color: #fff;
    text-decoration: none;
}
.icoon-size {
    font-size: 1.8em;
    color: #647491;
}
.icoon-sizedos {
    font-size: 1.6em;
    color: #647491;
}
.icoon-sizetres{
    font-size: 1.4em;
    color: #505a6a;
}
.submenusiete,
.submenutres,
.submenudos,
.submenu {
    position: fixed;
    width: 250px;
    background: #2a3b5a;
    /* background: red; */
    height: 100vh;
    left:60px;
    top: 0px;
    cursor: default;
    transition-duration: 0.5s;
    border-top: 5px solid #0566FF;
    z-index: 1;
    /*    display:none;*/
}

.cerrar{
    transform: translateX(-180%);
}
.abrir{
    transform: translateX(0%);
}
.return {
    position: relative;
    width: 100%;
    height: 60px;
    background: #1c2b45;
    top: 0;
}
/* .return-ico {
display: none;
  position: relative;
  border:1px solid red;
} */
.return-ico :hover  {
    cursor: pointer;
    opacity: 1;
}

.icon-circle-up {
    right: 10px;
    top: 8px;
    padding: 5px;
    /* background: red; */
    position: absolute;
    transform: rotate(-90deg);
    color: #fff;
    display: block;
    opacity: 0.7;
    font-size: 35px;
}
.li_submenu {
    /*border: 1px solid red;*/
    padding: 18px;
    /* margin: 10px; */
    list-style: none;
    color:#fff;
    font-weight:700;
    font-size:1.2em;
    opacity:0.7;
    position:relative;
    text-align:left;
}
.li_submenu:hover {
    background: #1c2b45;
    cursor: pointer;
    opacity: 0.9;
}

.box {
    position: absolute;
    right: 5px;
    width: 40px;
    height: 34px;
    /*background: red;*/
    bottom: 5px;
    color: #fff;
    opacity: 0.9;
}
